.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

.col-xs-9 {
  margin-left: 1em;
  color: darkgray
}

.btn-default {
  background-color: red;
  color: white
}