.article-container{
  background-color: #ffffff;
  min-height: 40rem;
}

.product-picture {
  width: 50%;
  background-color: #ffffff;
  margin-top: 10%;
}

.article-main {
  display: flex;
  width: 100%;
}

.product-other {
  
}

.product-desc {
  background-color: #ffffff;
  padding: 1em;
  border-radius: 0.35em;
  margin-top: 5%;
  width: 50%;
  display: block;
}

.product-attribut-description {
  margin-top: 10px;
  width: 90%;
  text-align: center;
}

.product-name {
  width: 100%;
  font-weight: bold;
  font-size: 2em;
  padding: 1em 0em 0em 0.5em; 
}

.product-sub-desc {
  padding-top:5%;
  margin-left: 0.5em;
  margin: 0 5%;
}

.product-attribut {
  font-weight: bold;
}

.btn-white {
  text-align: center;
  border-color: #000000;
  border-style: inline;
  width: 90%;
  margin: 0 5%;
}

.btn-black {
  display: inherit;
  background-color: #000000;
  color: white;
  text-align: center;
  border-color: #000000;
  border-style: inline;
  width: 70%;
  height: 3em;
  margin: auto;
}

.article-actions {
  margin: auto;
  width: 60%;
  margin-top: 1em;
}